.icon{
    background-size: cover;
    height: 22px;
    width: 22px;
}
.icon-user{
    background-image: url(../../static/image/icon-user.png);
}
.icon-pwd{
    background-image: url(../../static/image/icon-pwd.png);
}
.icon-logout{
    background-image: url(../../static/image/icon-logout.png);
}
.icon-back{
    background-image: url(../../static/image/icon-back.png);
}